nav{
	background-color: black;
	font-size: 20px;
	height: 80px; 
}
nav img{
	height: 80px;
	width: 80px;
}
nav a{
	border-radius: 5px; 
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 15px;
	padding-bottom: 15px;
	margin-top: 15px;
	margin-bottom: 15px;
	margin-left:0px;
	margin-right: 0px;
	color: white;
	text-decoration: none; 
}
.left{
	float: left;
}
.right{
	float: right;
}
.left:hover{
	background-color: green;
}
.right:hover{
	color:black;
	background-color: #789fd6;
}







.dropdown {
  float: left;
}

.dropdown .dropbtn {
		font-size: 20px;
	height: 50px;
    border-radius: 5px; 
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 15px;
	padding-bottom: 15px;
	margin-top: 15px;
	margin-bottom: 15px;
	margin-left:0px;
	margin-right: 0px;
	color: white; 
	background-color: black;
	border: none;
	font-family: serif;

}

.dropbtn:hover {
  background-color: green;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}








.description{
	margin-top: -3px;
	display: inline-block;
	height: 500px;
	width:100%;
	background-image: url(../images/boxes.jpg);
	text-align: center;
}
.description p{
	font-size: 65px;
	font-family: sans-serif;
	text-align: center;
	color: white;
}

.description p span{
	font-size: 40px;
	color: orange;
	}

.description a{
	font-size: 20px;
	text-decoration: none;
	display: inline-block;
	color: black;
	border-style: solid;
	border-color: black;
	background: white;
	border-width: 2px;
	margin-left: 75px;
	margin-right: 75px;
	margin-top: 65px;
	padding: 20px 20px;

}
.description a:hover{
	background: black;
	border-color: aqua;
	color: white;
}

.parallax-window{
	height: 400px;	
}

.container{
background-color: lightgrey;
overflow: hidden;
}
.container p{
	text-align: center;
	font-size: 30px;
}
.why-list{
	list-style-type: none;
	margin: 0 auto; 
}
.why-list-item{
	float: left;
	padding: 10px 30px;
	margin-left: 125px;
	overflow: hidden;
}
.why-list-ttl{
	font-size: 20px;
	font-weight: bold;
	font-family: sans-serif;
}
html{
	height: 100%;
	width: 100%;
}
body{
	background-color: white;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
}
footer{
	height: 200px;
	background-color: black;
	color: white;
	font-size: 20px;
	font-family: sans-serif;
	padding: 40px;  
}
footer a{
	text-decoration: none;
	color: white;
}